.profile>.icon-container>img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    z-index: 10;
}

.profile{
    max-width: 300px;
}

.icon-top>p{
    box-sizing: border-box;

}

.icon-container>.icon-top{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
